<div class="container">
    <div class="row">
        <p>Login</p>
    </div>
    <form>
        <div class="inputForms">
            <label class="formLabel">Email</label>
            <input type="email" placeholder="email@gmail.com">
            <label class="formLabel">Password</label>
            <input type="password" id="inputPassword">
        </div>
    </form>
</div>

<script src="../controllers/api/index.js"></script>